<a href="https://colab.research.google.com/github/arintaauza/Google-Kickstart/blob/main/Kickstart_2013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
T=int(input())
A=[]
for t in range(1,T+1):
    N,B=[int(s) for s in input().split(" ")]
    A=list(map(int, input().split()))
    count=0
    A.sort()
    for i in range(len(A)):
        if(B>=A[i]):
            B=B-A[i]
            count+=1
    print("Case #{}: {}".format(t,count))
    A.clear()

# Sorting

In [ ]:
#idx of even number
#idx of odd number


T = int(input()) #number of test case

for t in range (1, T+1):
  N = int(input()) #number of books
  A=list(map(int, input().split()))
  Alex_idx =[]
  Alex = []
  Bob_idx = []
  Bob = []

  for i in range(N):
    if A[i]%2 == 0:
      Bob_idx.append(i)
      Bob.append(A[i])
    else:
      Alex_idx.append(i)
      Alex.append(A[i])
  Bob.sort(reverse=True)
  Alex.sort()

  for i in range(len(Alex)):
    A[Alex_idx[i]] = Alex[i]

  for i in range(len(Bob)):
    A[Bob_idx[i]] = Bob[i]
  
  listToStr = ' '.join([str(elem) for elem in A])

  print("Case #{}: {}".format(t,listToStr))
  A.clear()

2
5
5 1 2 4 3
Case #1: 1 3 4 2 5
7
0 2 5 6 3 1 8
Case #2: 8 6 1 2 3 5 0

# Read phone number

3

15012233444 3-4-4

15012233444 3-3-5

12223 2-3



idx = 0
run while idx2 - idx >

In [ ]:
T = int(input())

number = {
    "0": "zero",
    "1": "one",
    "2": "two",
    "3": "three",
    "4": "four",
    "5": "five",
    "6": "six",
    "7": "seven",
    "8": "eight",
    "9": "nine"
}

tup = {
    2: "double",
    3: "triple",
    4: "quadruple",
    5: "quintuple",
    6: "sextuple",
    7: "septuple",
    8: "octuple",
    9: "nonuple",
    10: "decuple"
}

for t in range(1, T+1):
  A, B = input().split()
  format = list(map(int, B.split("-")))
  phone = ""

  idx = 0
  n_con = 1
  for i in range(len(format)):
    j = 0
    idx2 = idx
    while (idx2 -idx < format[i]):
      if idx2 < len(A)-1:
        while (A[idx2] == A[idx2 + 1] and idx2 -idx < format[i]-1):
          n_con +=1
          idx2 +=1
          if (idx2 >= len(A)-1):
            break

      if (n_con == 1):
        phone += number[A[idx2]]
        phone += " "
      elif (n_con > 10):
        for k in range(n_con):
          phone += number[A[idx2]]
          phone += " "
      else:
        phone += tup[n_con]
        phone += " "
        phone += number[A[idx2]]
        phone += " "
      
      n_con = 1
      idx2 +=1
    
    idx = idx2

  print("Case #{}: {}".format(t,phone))

1
1111111111123 12-1
13
Case #1: one one one one one one one one one one one two three

# Rational Number Tree


4

1 2

2 1 2

1 5

2 3 2

In [ ]:
T = int(input())

for t in range (1, T+1):
  test = list(map(int, input().split()))

  if test[0] == 1:
    p = 1
    q = 1
    bin_n = bin(test[1])[2:]
    for i in range(1,len(bin_n)):
      if int(bin_n[i]) == 0:
        q = p + q
      else:
        p = p + q
    result = str(p)+ " " + str(q)
  else:
    bin_n = ""
    p = test[1]
    q = test[2]
    while (p != q):
      if p < q:
        bin_n += "0"
        q = q-p
      else:
        bin_n += "1"
        p = p-q

    bin_n += "1"
    
    bin_n = bin_n[::-1]
    print(bin_n)
    result = str(int(bin_n, 2))


  print("Case #{}: {}".format(t, result))

10
Case #1: 2

'10'